<div class="ui-g">
    <div class="ui-g-12">
        <form [formGroup]="beerForm">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" formControlName="name" pInputText>
                    <label for="float-input">Team Name</label>
                </span><br />
                <span class="ui-float-label">
                    <input id="p1" type="text" size="30" formControlName="p1" pInputText>
                    <label for="p1">Player 1</label>
                </span><br />
                <span class="ui-float-label">
                    <input id="p2" type="text" size="30" formControlName="p2" pInputText>
                    <label for="p2">Player 2</label>
                </span><br />
            </div>
            <button (click)="addTeam()" type="button" pButton label="New Team"></button>
        </form>
        {{res | json}}<br />

        {{teams | json}}
    </div>
</div>