<div class="ui-g">
    <div class="ui-g-12">
        <form [formGroup]="beerForm" *ngIf="type == 'add' || this.teams.length == 0">
            <div class="ui-g-6">
                <div class="ui-g-12 ui-inputgroup">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" formControlName="name" pInputText>
                        <label for="float-input">Team Name</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-inputgroup">
                    <span class="ui-float-label">
                        <input class="ui-g-12" id="p1" type="text" size="30" formControlName="p1" pInputText>
                        <label for="p1">Player 1</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-inputgroup">
                    <span class="ui-float-label">
                        <input class="ui-g-12" id="p2" type="text" size="30" formControlName="p2" pInputText>
                        <label for="p2">Player 2</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <button (click)="addTeam()" type="button" pButton label="New Team"></button>
                </div>

            </div>

        </form>
        <form [formGroup]="editForm" *ngIf="type == 'edit'">
            <div class="ui-g-6">
                <div class="ui-g-12 ui-inputgroup">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" formControlName="name" pInputText disabled>
                        <label for="float-input">Team Name</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-inputgroup">
                    <span class="ui-float-label">
                        <input class="ui-g-12" id="p1" type="text" size="30" formControlName="p1" pInputText>
                        <label for="p1">Player 1</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-inputgroup">
                    <span class="ui-float-label">
                        <input class="ui-g-12" id="p2" type="text" size="30" formControlName="p2" pInputText>
                        <label for="p2">Player 2</label>
                    </span>
                </div>
                <div class="ui-g-12">

                </div>

            </div>

        </form>
        <div class="ui-g-6" *ngFor="let team of teams; let i=index">
            {{team._id}}<br />
            {{team.name}}<br />
            {{team.p1}}<br />
            {{team.p2}}<br />
            {{team.score}}<br />
            <button *ngIf="type == 'add'" (click)="editTeam(team, i)" type="button" pButton label="Edit"></button>
            <button *ngIf="type == 'edit' && teams[idx].name == team.name" (click)="submit(team)" type="button" pButton
                label="Submit"></button>
            <button (click)="minus(team)" type="button" pButton label="-"></button>
            <button (click)="plus(team)" type="button" pButton label="+"></button>
            <button (click)="deleteTeam(team)" type="button" pButton label="Delete"></button>
        </div>

    </div>
</div>